@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 4px hsla(350, 54%, 0%, 0.788);
    z-index: 100;
    background-color: #cc2929;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('fondon.jpeg');
    background-repeat: repeat;
}

section{
    padding: 4rem 0 3rem;
}

.cont{
    max-width: 1068px;
    margin: auto;
    width: 100%;

}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

}

.logo{
    font-size: 25px;
    color: black;
    font-weight: 600;
}

#carrito{
    position: relative;
    font-size: 1.8rem;
    cursor:pointer;
}

#carrito[data-quantitiy]::after{
    contain:''; 
}

#carrito[data-quantitiy]::after{
    contain:''; 
    position: absolute;
    top:0;
    right: -12px;
    width: 20px;
    height: 20px;
    background: var(--text-color);
    border-radius: 50%;
    color: white;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 70vw;
    height: 80vh;
    background: #000000ba;
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.534);
    overflow: hidden;
}

.signin-signup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
}
form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    min-width: 238px;
    padding: 0 10px;
}

p {
    padding-left: 15px;
}

.title {
    font-size: 35px;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}
.input-field {
    width: 100%;
    height: 50px;
    background: #d2d2d2;
    margin: 10px 0;
    border: 2px solid #000000;
    border-radius: 50px;
    display: flex;
    align-items: center;
}
.input-field i {
    flex: 1;
    text-align: center;
    color: #000000b7;
    font-size: 18px;
}
.input-field input {
    flex: 5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #444;
}
.btn {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: #dd1b1b;
    color: #fff;
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
}
.btn:hover {
    background: #d62020;
}





/*Responsive*/
@media (max-width:600px) {
    .container {
        width: 100vw;
        height: 100vh;
    }
}
@media (max-width:635px) {
    .container::before {
        display: none;
    }
    form {
        width: 80%;
    }
    form.sign-up-form {
        display: none;
    }
    .container.sign-up-mode2 form.sign-up-form {
        display: flex;
        opacity: 1;
    }
    .container.sign-up-mode2 form.sign-in-form {
        display: none;
    }
    .panels-container {
        display: none;
    }
    .account-text {
        display: initial;
        margin-top: 30px;
    }
}
@media (max-width:320px) {
    form {
        width: 90%;
    }
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.829);
    text-align: center;
}