/* Fuentes Google */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}

body{
    background-image: url(fondon.jpeg);
    background-repeat: repeat;
    max-width: 1200px;
    margin: 0 auto;
}

img{
    max-width: 100%;

}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 4px hsla(350, 54%, 0%, 0.788);
    z-index: 100;
    background-color: #cc2929;
}

.container-title{
    margin-top: 120px;
    padding: 30px;
    background-color: white;
    margin-bottom: 50px;
    color: black;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

main{
    display: flex;
    gap: 30px;
    margin-bottom: 80px;
    background-color: #ffffffbd;
}

.container-img{
    max-width: 45%;
    background-color: white;
}

.container-info{
    flex: 1;

}

.precio{
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
}


.precio span{
    font-size: 24px;
    font-weight: 300;
}


.container-details{
    padding: 30px 0;
}


.container-add-cart{
    display: flex;
    gap: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}

.container-quantity{
    position: relative;
}

.input-quantity{
    background-color: black;
    border: none;
    padding: 10px;
    width: 60px;
    height: 100%;
    color: white;
    font-weight: 500;
    line-height: 0;
}

.input-quantity:focus{
    outline: none;
}


.btn-in-decrement{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 7px;
    right: 7px;
}

.btn-in-decrement i{
    font-size: 11px;
    color: grey;
    cursor: pointer;
}

.bx-chevron-down:hover{
    color: rgb(255, 0, 0);
}

.bx-chevron-up:hover{
    color: rgb(255, 0, 0);
}

.btn-add-to-cart{
    border: none;
    background-color: black;
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 700;
    cursor: pointer;
}

.btn-add-to-cart:hover{
    color:red;
}

.hidden{
    display: none;
}

.container-info,
.container-additional-info,
.container-text{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.title-description,
.title-adit-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid black;
}

.title-description h4,
.title-adit-info h4{
    font-weight: 300;
    color: black;
    font-size: 14px;
}

.text-description,
.text-adit-info{
    font-size: 13px;
    color: black;
    line-height: 22px;
    margin-top: 25px;
}

.contained-related-products{
    padding-bottom: 65px;
    
}

.contained-related-products h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
}

.card-list-products{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    align-items: center;
}


.card-img{
    background: transparent;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.card-img img{

    height: 300px;
    object-fit: cover;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.info-card{
    display: flex;
    justify-content: center;
    background-color: rgba(204, 34, 34, 0.842);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 130px;
    margin-right: 130px;
    border-radius: 5px;
    cursor: pointer;

}

.text-product{
    color: black;
    font-weight: 300;
    line-height: 1.4;
    padding-right: 60px;
}

.text-product h3{
    color: inherit;
    font-weight: inherit;
    font-size: 15px;
}

.text-product h3:hover{
    color: white;
}

.text-product p{
    color: white;
    font-size: 13px;
}

.text-product p:hover{
    color: white;
}

.price{
    padding-left: 60px;
    cursor:default;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

}

.cont {
    max-width: 1068px;
    margin: auto;
    width: 100%;
  }

.logo{
    font-size: 25px;
    color: black;
    font-weight: 600;
}

#carrito{
    position: relative;
    font-size: 1.8rem;
    cursor:pointer;
}

#carrito[data-quantitiy]::after{
    contain:''; 
}

#carrito[data-quantitiy]::after{
    contain:''; 
    position: absolute;
    top:0;
    right: -12px;
    width: 20px;
    height: 20px;
    background: var(--text-color);
    border-radius: 50%;
    color: white;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.829);
    text-align: center;
}

/* Responsive */

@media (max-width:1080px) {
    .nav{
        padding: 14px 0;
    }
    section{
        padding: 3rem 0 2rem;
    }

    .cont{
        margin: 0 auto;
        width:90%;
    }
}
