*{
    box-sizing: border-box;
}
body{
    background-image: url(fondo.jpg);
    background-repeat: repeat;
}

.contenedor {
    text-align: left;
    width: 100%;
    margin: auto;
}
   
#izquierda {
    width: 43.2%;
    float: left;
    background-color: #FFFFFF;
    border-radius: 15px;
    text-align: center;
}

#foto{
    width: 750px;
    height: 750px;

}

#derecha {
    width: 55%;  
    background-color: #CCCCCC;  
    float:right; 
}

/* Para limpiar los floats */
.contenedor:after {
    content: "";
    display: table;
    clear: both;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(5, 2, 2, 0.685);
    color: white;
    text-align: center;
}

a{
    color: white;
}